<div class="row text-primary">

  <!-- <button (click)="add300()">Add</button> -->

  <!-- title -->
  <div class="col-6">
    <h2 class="text-center font-weight-bold">Customers</h2>
  </div>

  <!-- search area -->
  <div class="col-3">
    <p class="text-right font-weight-bold pt-4">Search customers:</p>
  </div>
  <!-- <div class="col-1">
    <select class="form-control mt-2 text-center" required [(ngModel)]="searchKey" (change)="clearKeyword()">
      <option *ngFor="let key of customerKeys" [value]="key">{{key | titlecase}}</option>
    </select>
  </div> -->
  <div class="col-1">
    <select class="form-control mt-2 text-center" required [(ngModel)]="searchKey" (change)="clearKeyword()">
      <option [value]="customerKeys[0]">Id</option>
      <option [value]="customerKeys[1]">Name</option>
      <option [value]="customerKeys[3]">Email</option>
      <option [value]="customerKeys[4]">Address</option>
      <option [value]="customerKeys[5]">Active</option>
    </select>
  </div>
  <div
    *ngIf="searchKey === 'id' || searchKey === 'firstName' || searchKey === 'email' || searchKey === 'address'"
    class="col-2 mt-1">
    <input type="text" class="form-control mt-2" [(ngModel)]="keyword" placeholder="Search">
  </div>
  <div *ngIf="searchKey === 'active'" class="col-2">
    <select class="form-control mt-2 text-center" [(ngModel)]="keyword">
      <option [value]=true>Active</option>
      <option [value]=false>Inactive</option>
    </select>
  </div>
</div>

<!-- table -->
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title ">Customers</h4>
            <p class="card-category">All of our clients listed here</p>
          </div>
          <div class="card-body">
            <div class="table-responsive" style="overflow: unset;">
              <table class="table">

                <!-- table head -->
                <thead class=" text-primary text-center">
                  <tr class="sticky-top bg-white">
                    <!-- <th *ngFor="let key of customerKeys" (click)="sorting(key)" style="cursor: pointer;">
                      {{ key | titlecase}}
                      <i *ngIf="sortKey == key && sortDirection  == 'A...Z'" class="fa fa-arrow-up"></i>
                      <i *ngIf="sortKey == key && sortDirection  == 'Z...A'" class="fa fa-arrow-down"></i>
                    </th> -->
                      <th (click)="sorting(customerKeys[0])" style="cursor: pointer;">Id
                        <i *ngIf="sortKey == customerKeys[0] && sortDirection  == 'A...Z'" class="fa fa-arrow-up"></i>
                        <i *ngIf="sortKey == customerKeys[0] && sortDirection  == 'Z...A'" class="fa fa-arrow-down"></i></th>
                      <th (click)="sorting(customerKeys[1])" style="cursor: pointer;">Name
                        <i *ngIf="sortKey == customerKeys[1] && sortDirection  == 'A...Z'" class="fa fa-arrow-up"></i>
                        <i *ngIf="sortKey == customerKeys[1] && sortDirection  == 'Z...A'" class="fa fa-arrow-down"></i></th>
                      <th (click)="sorting(customerKeys[3])" style="cursor: pointer;">Email
                        <i *ngIf="sortKey == customerKeys[3] && sortDirection  == 'A...Z'" class="fa fa-arrow-up"></i>
                        <i *ngIf="sortKey == customerKeys[3] && sortDirection  == 'Z...A'" class="fa fa-arrow-down"></i></th>
                      <th (click)="sorting(customerKeys[4])" style="cursor: pointer;">Address
                        <i *ngIf="sortKey == customerKeys[4] && sortDirection  == 'A...Z'" class="fa fa-arrow-up"></i>
                        <i *ngIf="sortKey == customerKeys[4] && sortDirection  == 'Z...A'" class="fa fa-arrow-down"></i></th>
                      <th (click)="sorting(customerKeys[5])" style="cursor: pointer;">Active
                        <i *ngIf="sortKey == customerKeys[5] && sortDirection  == 'A...Z'" class="fa fa-arrow-up"></i>
                        <i *ngIf="sortKey == customerKeys[5] && sortDirection  == 'Z...A'" class="fa fa-arrow-down"></i></th>
                    <th>
                      <button routerLink="/edit-customers/0" class="btn btn-success btn-block"><i
                          class="fa fa-plus"></i></button>
                    </th>
                  </tr>
                </thead>

                <!-- table body -->
                <tbody>
                  <tr
                    *ngFor="let customer of allCustomers$ | async | filter: searchKey:keyword | sorter: sortKey:sortDirection">
                    <td class="text-center">{{ customer.id }}</td>
                    <td>{{ customer.show('firstName', 'lastName') }}</td>
                    <td>{{ customer.email }}</td>
                    <td>{{ customer.address.full }}</td>
                    <td class="text-center">
                      <i *ngIf="customer.active" style="color: rgb(48, 180, 48)!important;"class="fa fa-check"></i>
                      <i *ngIf="!customer.active" style="color: red!important"class="fa fa-times"></i></td>
                    <td class="text-center">
                      <div class="btn-group">
                        <button [routerLink]="['/edit-customers', customer.id]" class="btn btn-info"><i class="fa fa-pencil"></i></button>
                        <button (click)="onDelete(customer.id)" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                      </div>
                    </td>
                  </tr>
                  <tr class="font-weight-bold">
                    <td class="h4 font-weight-bold text-center">{{ IDCounter }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="h3 font-weight-bold text-center">Total</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
