<h2 class="text-center text-primary font-weight-bold">Customers</h2>
<button class="btn btn-primary" (click)="addCustomer()">Add Customer</button>
<div *ngIf="allCustomers$" class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Customers</h4>
            <p class="card-category">All customers listed here</p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary">
                  <th>#</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Email</th>
                  <th>Address</th>
                  <th>Active</th>
                  <th></th>
                </thead>
                <tbody>
                  <tr *ngFor="let customer of allCustomers$ | async">
                    <td>{{ customer.id }}</td>
                    <td>{{ customer.firstName }}</td>
                    <td>{{ customer.lastName }}</td>
                    <td>{{ customer.email }}</td>
                    <td>{{ customer.address }}</td>
                    <td>{{ customer.active }}</td>
                    <td>
                      <button
                        class="btn btn-danger"
                        (click)="deleteCustomer(customer.id)"
                      >
                        Delete Customer
                      </button>
                      <button
                        class="btn btn-success"
                        (click)="editCustomer(customer.id)"
                      >
                        Edit Customer
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
