<div class="row text-primary">
  <!-- title -->
  <div class="col-6">
    <h2 class="text-center font-weight-bold">Products</h2>
  </div>

  <!-- search area -->
  <div class="col-3">
    <p class="text-right font-weight-bold pt-4">Search product:</p>
  </div>
  <!-- <div class="col-1">
    <select class="form-control mt-2 text-center" required [(ngModel)]="searchKey" (change)="clearKeyword()" (change)="clearKeywordMinMax()">
      <option *ngFor="let key of productKeys" [value]="key">{{key | titlecase}}</option>
    </select>
  </div> -->
  <div class="col-1">
    <select
      class="form-control mt-2 text-center"
      required
      [(ngModel)]="searchKey"
      (change)="clearKeyword()"
      (change)="clearKeywordMinMax()"
    >
      <option [value]="productKeys[0]">Id</option>
      <option [value]="productKeys[1]">Name</option>
      <option [value]="productKeys[2]">Type</option>
      <option [value]="productKeys[3]">Category</option>
      <option [value]="productKeys[4]">Description</option>
      <option [value]="productKeys[5]">Price</option>
      <option [value]="productKeys[6]">Featured</option>
      <option [value]="productKeys[7]">Active</option>
    </select>
  </div>
  <div
    *ngIf="
      searchKey === 'name' ||
      searchKey === 'type' ||
      searchKey === 'description'
    "
    class="col-2 mt-1"
  >
    <input
      type="text"
      class="form-control mt-2"
      [(ngModel)]="keyword"
      placeholder="Search"
    />
  </div>
  <div *ngIf="searchKey === 'id' || searchKey === 'price'" class="col-2 mt-2">
    <input
      style="width: 25%"
      type="text"
      class="form-control float-left"
      [(ngModel)]="keyword"
      placeholder="Search"
      (keydown)="clearKeywordMinMax()"
    />
    <input
      style="width: 25%"
      type="text"
      class="form-control ml-3 float-left"
      [(ngModel)]="keywordMin"
      placeholder="Min"
      (keydown)="clearKeyword()"
    />
    <span class="float-left mt-2">-</span>
    <input
      style="width: 25%"
      type="text"
      class="form-control ml-2 float-left"
      [(ngModel)]="keywordMax"
      placeholder="Max"
      (keydown)="clearKeyword()"
    />
  </div>
  <div *ngIf="searchKey === 'featured' || searchKey === 'active'" class="col-2">
    <select class="form-control mt-2 text-center" [(ngModel)]="keyword">
      <option [value]="true">True</option>
      <option [value]="false">False</option>
    </select>
  </div>
  <div *ngIf="searchKey === 'category name'" class="col-2">
    <select class="form-control mt-2 text-center" [(ngModel)]="keyword">
      <option [value]="1">Living room</option>
      <option [value]="2">Bedroom</option>
      <option [value]="3">Bathroom</option>
      <option [value]="4">Home office</option>
      <option [value]="5">Dining room</option>
    </select>
  </div>
</div>

<!-- table -->
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title py-2">All available product listed here</h4>
            <!--<p class="card-category">All available product listed here</p>-->
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <!-- table head -->
                <thead class="text-primary text-center">
                  <tr class="sticky-top bg-white">
                    <th (click)="sorting('id')" class="th-id">
                      Id
                      <i
                        *ngIf="sortKey == 'id' && sortDirection == 'A...Z'"
                        class="fa fa-caret-up ml-2"
                      ></i>
                      <i
                        *ngIf="sortKey == 'id' && sortDirection == 'Z...A'"
                        class="fa fa-caret-down ml-2"
                      ></i>
                    </th>
                    <th (click)="sorting('name')" class="th-name">
                      Name
                      <i
                        *ngIf="sortKey == 'name' && sortDirection == 'A...Z'"
                        class="fa fa-caret-up ml-2"
                      ></i>
                      <i
                        *ngIf="sortKey == 'name' && sortDirection == 'Z...A'"
                        class="fa fa-caret-down ml-2"
                      ></i>
                    </th>
                    <th (click)="sorting('type')" class="th-type">
                      Type
                      <i
                        *ngIf="sortKey == 'type' && sortDirection == 'A...Z'"
                        class="fa fa-caret-up ml-2"
                      ></i>
                      <i
                        *ngIf="sortKey == 'type' && sortDirection == 'Z...A'"
                        class="fa fa-caret-down ml-2"
                      ></i>
                    </th>
                    <th (click)="sorting('category name')" class="th-cat">
                      Category
                      <i
                        *ngIf="
                          sortKey == 'category name' && sortDirection == 'A...Z'
                        "
                        class="fa fa-caret-up ml-2"
                      ></i>
                      <i
                        *ngIf="
                          sortKey == 'category name' && sortDirection == 'Z...A'
                        "
                        class="fa fa-caret-down ml-2"
                      ></i>
                    </th>
                    <th (click)="sorting('description')" class="th-descr">
                      Description
                      <i
                        *ngIf="
                          sortKey == 'description' && sortDirection == 'A...Z'
                        "
                        class="fa fa-caret-up ml-2"
                      ></i>
                      <i
                        *ngIf="
                          sortKey == 'description' && sortDirection == 'Z...A'
                        "
                        class="fa fa-caret-down ml-2"
                      ></i>
                    </th>
                    <th (click)="sorting('price')" class="th-price">
                      Price
                      <i
                        *ngIf="sortKey == 'price' && sortDirection == 'A...Z'"
                        class="fa fa-caret-up ml-2"
                      ></i>
                      <i
                        *ngIf="sortKey == 'price' && sortDirection == 'Z...A'"
                        class="fa fa-caret-down ml-2"
                      ></i>
                    </th>
                    <th (click)="sorting('featured')" class="th-featured">
                      Featured
                      <i
                        *ngIf="
                          sortKey == 'featured' && sortDirection == 'A...Z'
                        "
                        class="fa fa-caret-up ml-2"
                      ></i>
                      <i
                        *ngIf="
                          sortKey == 'featured' && sortDirection == 'Z...A'
                        "
                        class="fa fa-caret-down ml-2"
                      ></i>
                    </th>
                    <th (click)="sorting('active')" class="th-active">
                      Active
                      <i
                        *ngIf="sortKey == 'active' && sortDirection == 'A...Z'"
                        class="fa fa-caret-up ml-2"
                      ></i>
                      <i
                        *ngIf="sortKey == 'active' && sortDirection == 'Z...A'"
                        class="fa fa-caret-down ml-2"
                      ></i>
                    </th>
                    <th id="th-btn">
                      <button
                        routerLink="/edit-products/0"
                        class="btn btn-success btn-block"
                      >
                        <i class="fa fa-plus"></i>
                      </button>
                    </th>
                  </tr>
                </thead>

                <!-- table body -->
                <tbody
                  *ngIf="
                    allProducts$
                      | async
                      | filter: searchKey:keyword:keywordMin:keywordMax
                      | sorter: sortKey:sortDirection as filteredProducts
                  "
                >
                  <tr class="font-weight-bold total-tr">
                    <td class="h4 font-weight-bold text-center">
                      {{ filteredProducts.length }}
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="h4 font-weight-bold text-center">
                      {{ filteredProducts | sum: "price" }}
                    </td>
                    <td></td>
                    <td></td>
                    <td class="h3 font-weight-bold text-center">Total</td>
                  </tr>

                  <tr
                    *ngFor="
                      let product of filteredProducts | load: loadedElements
                    "
                  >
                    <td class="text-center">{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.type }}</td>
                    <td>{{ product.catID }} ({{ product.category.name }})</td>
                    <td>{{ product.description | textcutter: 60 }}</td>
                    <td class="text-center price">{{ product.price }} €</td>
                    <td class="text-center">
                      <i
                        *ngIf="product.featured"
                        style="color: rgb(48, 180, 48) !important"
                        class="fa fa-check"
                      ></i
                      ><i
                        *ngIf="!product.featured"
                        style="color: red !important"
                        class="fa fa-times"
                      ></i>
                    </td>
                    <td class="text-center">
                      <i
                        *ngIf="product.active"
                        style="color: rgb(48, 180, 48) !important"
                        class="fa fa-check"
                      ></i
                      ><i
                        *ngIf="!product.active"
                        style="color: red !important"
                        class="fa fa-times"
                      ></i>
                    </td>
                    <td class="text-center">
                      <div class="btn-group">
                        <button
                          [routerLink]="['/edit-products', product.id]"
                          class="btn btn-info"
                        >
                          <i class="fa fa-pencil"></i>
                        </button>
                        <button
                          (click)="onDelete(product.id)"
                          class="btn btn-danger"
                        >
                          <i class="fa fa-trash"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <app-loading *ngIf="stillLoading"></app-loading>
            </div>
          </div>
          <div id="scrollAnchor"></div>
        </div>
      </div>
    </div>
  </div>
</div>
