.card-header.db-small {
  background: white !important;
  box-shadow: none !important;
}

.card-header.db-piegraph {
  background: linear-gradient(60deg, #FCF9F1, #FCF9F1) !important;
}

.card-header.db-bargraph {
  background: linear-gradient(60deg, #87B3CC, #71ACC6) !important;
}

.card-header.db-bargraph h4 {
  color: white !important;
}

.card-header.db-income {
  background: linear-gradient(60deg, #ffa726, #fb8c00) !important;
}

.card .card-header-info .card-icon {
  background: linear-gradient(60deg, #87B3CC, #71ACC6) !important;
}
